<%- include('../../cabecalho.ejs')%>
    


    <div class="form-box">
        
            <h1>Aeroporto</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required><br>
                 
                <label for="local">Localização</label>
                <input type="text" id="local" name="local" required><br>
                    
                <label for="foto">foto</label>
                <input type="file" id="foto" name="foto" ><br>
                
                <button type="submit" class="form-btn">Adicionar Aeroporto</button>
            <br></br>
<a href="/admin/aeroporto/lst" class="form-btn">Cancelar</a>

                
            </form>
        
    </div>
</body>
</html>
